videos/

# Python-generated auxilary files
__pycache__/

# TeX-generated auxilary files
*.out
*.snm
*.nav
*.aux
*.log
*.synctex.gz
*.fls
*.fdb_latexmk

# Useless files that I want to keep
minimal_video_player.py
figures/tmp_plot*
